/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* common classes */
@layer components {
  .input {
    @apply rounded-lg border border-clr-ab/20 px-3 py-2 placeholder:text-sm focus-within:border-clr-fb hover:border-clr-fb/50 focus:border-clr-fb focus:outline-none;
  }
}

/* extra classes */
.no-scroll::-webkit-scrollbar {
  display: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0.3;
}

.hudJpJ {
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden;
}
