@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input,
  select,
  textarea {
    @apply focus-within:border-clr-fb hover:border-clr-fb/50 focus:border-clr-fb focus:outline-none;
  }

  .section-padding {
    @apply py-20 md:py-[130px];
  }

  .container {
    @apply mx-auto max-w-[1531px] px-5;
  }
  .custom-container {
    @apply mx-auto max-w-[1770px] px-5;
  }

  .input {
    @apply h-[56px] rounded-lg border border-clr-ab/20 px-3 py-2 placeholder:text-sm focus-within:border-clr-fb hover:border-clr-fb/50 focus:border-clr-fb focus:outline-none;
  }

  .sidebarNav {
    @apply flex items-center gap-3 rounded-lg px-[14px] py-3 text-sm font-semibold capitalize text-clr-81 transition-all duration-300 ease-in-out hover:bg-clr-ff hover:text-clr-fb;
  }

  .SpecialPackagesSwiper .swiper-button-prev {
    @apply md:hidden;
  }

  .SpecialPackagesSwiper .swiper-button-prev::after {
    content: 'prev';
    font-family: swiper-icons;
    font-size: 20px;
    color: white;
  }

  .SpecialPackagesSwiper .swiper-button-next {
    @apply md:hidden;
  }

  .SpecialPackagesSwiper .swiper-button-next::after {
    content: 'next';
    font-family: swiper-icons;
    font-size: 20px;
    color: white;
  }

  /* featured */
  .featuredSwiper .swiper-button-prev {
    @apply md:hidden;
  }

  .featuredSwiper .swiper-button-prev::after {
    content: 'prev';
    font-family: swiper-icons;
    font-size: 20px;
    color: #9042fb;
    font-weight: 700;
  }

  .featuredSwiper .swiper-button-next {
    @apply md:hidden;
  }

  .featuredSwiper .swiper-button-next::after {
    content: 'next';
    font-family: swiper-icons;
    font-size: 20px;
    color: #9042fb;
    font-weight: 700;
  }
}

/* extra classes */
.no-scroll::-webkit-scrollbar {
  display: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0.3;
}

.hudJpJ {
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden;
}

.listing-details-inclusion span {
  color: #9042fb;
}

.apexcharts-legend-text {
  font-size: 13px !important;
  font-weight: 500 !important;
}

.apexcharts-legend-marker {
  width: 9px !important;
  height: 18px !important;
  border-radius: 0 !important;
}

.apexcharts-text {
  display: none !important;
}

.custom-calendar.react-calendar {
  border: none;
  width: 100%;
  padding: 10px;
}

.react-calendar__tile--active {
  background: #9042fb !important;
}

/* Spinner */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
